<%# Heading Content %>
<h1><%= title %></h1>
 
<%# Flash Message %>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
 
<%# Main Content %>
<div class="userForm regForm">
    <form action="/account/registration" method="post">
        <div class="userInfo">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="account_firstname"  value="<%= locals.account_firstname %>"required>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="account_lastname"  value="<%= locals.account_lastname %>"required>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="account_email" value="<%= locals.account_email %>"required >
            <label for="password">Password:</label>
            <div id="passButton">
                <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                <button type="button" id="pb"><i class="fa-solid fa-magnifying-glass"></i></i></button>
            </div>
            <div class="passRequirement"></div>
                <h3>Password Requirements</h3>
                <ul>
                    <li>12 characters in length, minimum</li>
                    <li>Contain at least 1 capital letter</li>
                    <li>Contain at least 1 number</li>
                    <li>Contain at least 1 special character</li>
                </ul>
        </div>
        <button type="submit">Register</button>
    </form>
</div>


<script src="/js/script.js"></script>