<h1><%= title %></h1>
 
<% if (flash) { %>
   <% if (flash.notice) { %>
     <ul class="notice">
       <% flash.notice.forEach(msg => { %>
         <li><%= msg %></li>
       <%  }) %>
     </ul>
   <% } %>
<% } %>
 
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>
<div class="userForm updateForm">
  <form action="/account/account-update" method="POST" onsubmit="return validateForm()">
    <div class="userInfo">
    <label for="account_firstname">First Name:</label>
    <input type="text" id="firstName" name="account_firstname" required value="<%= locals.account_firstname %>">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="account_lastname" required value="<%= locals.account_lastname %>">
    <label for="email">Your Email:</label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
  <button type="submit">Update Account</button>
  <input type="hidden" name="account_id"
  <% if(locals.account_id) { %> value="<%= locals.account_id %>"
  <% } %>>
</div>
</form>
</div>

<div class="userForm updateForm">
<form action="/account/change-password" method="POST">
  <div class="userInfo">
    <label for="password">Change your password:</label>
    <input type="password" id="password" name="account_password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$" placeholder="12+ chars, upper, number, and special" required>
  <button type="submit">Change Password</button>
  <input type="hidden" name="account_id"
  <% if(locals.account_id) { %> value="<%= locals.account_id %>"
  <% } %>>
  </div>
</form>
</div>