<%# Heading Content %>
<h1><%- title %></h1>

<% if (messages() && messages().success) { %>
    <div class="flash-message success">
      <%= messages().success %>
    </div>
  <% } else if (messages() && messages().error) { %>
    <div class="flash-message error">
      <%= messages().error %>
    </div>
  <% } %>
  <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>
   
   
    <% if (flash) { %>
      <% if (flash.notice) { %>
        <ul class="notice">
          <% flash.notice.forEach(msg => { %>
            <li><%= msg %></li>
          <%  }) %>
        </ul>
      <% } %>
    <% } %>
   
   
  <form action="/inv/add-classification" method="POST" onsubmit="return validateForm()">
      <div>
          <label for="classificationName">Classification Name:</label>
          <input type="text" id="classificationName" name="classification_name" required value="<%= locals.classification_name %>">
      </div>
      <button type="submit">Add Classification</button>
  </form>